---
layout: default
---

<div class="home">

  <h1 class="page-heading">Examples</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.pages %}
    {% if post.path contains "example" %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <!--
        <p>
        {{ post.content | split:"<!-- more -->" | first }}
        </p>
        -->
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
